<header>
      <div id="logo">
        <div id="logo_text">
          <!-- class="logo_colour", allows you to change the colour of the text -->
          <h1><a href="http://localhost:3000">Medidore$<span class="logo_colour">_Ues</span></a></h1>
          <h2>Servicio de monitoreo de consumo de energia.</h2>
        </div>
      </div>
      <nav>
        <div id="menu_container">
          <ul class="sf-menu" id="nav">
            <li><a href="http://localhost:3000">Inicio</a></li>
            <li><a>Subestaciones</a>
              <ul>
                <li><a href="#">Facultad de Agronomia</a>
                  <ul>
                    <li><a href="http://localhost:3000/agronomia">Subestacion Agronomia</a></li>
                    <li><a href= "http://localhost:3000/agronomiadecanatos">Subestacion Agronomia-Decanato</a></li>
                    <li><a href="http://localhost:3000/agronomiagaleras">Subestacion Agronomia-galera</a></li>
                    <li><a href="http://localhost:3000/agronomiaquimicas">Subestacion Agronomia-Quimica y Farmacia</a></li>
                    </ul>
                </li>
                <li><a href="http://localhost:3000/derechos">Facultad de Jurisprudencia y Ciencias Sociales</a></li>

                <li><a href="#">Facultad de Economia</a>
                  <ul>
                    <li><a href="http://localhost:3000/economia1s">Subestacion Economia1</a></li>
                    <li><a href="http://localhost:3000/economia2s">Subestacion Economia2</a></li>
                    <li><a href="http://localhost:3000/economia3s">Subestacion Economia3</a></li>
                    <li><a href="http://localhost:3000/economia4s">Subestacion Economia4</a></li>
                    <li><a href="http://localhost:3000/economia5s">Subestacion Economia5</a></li>
                    <li><a href="http://localhost:3000/economia6s">Subestacion Economia6</a></li>
                  </ul>
                </li>

                <li><a href="#">Facultad de Humanidades</a>
                  <ul>
                    <li><a href="http://localhost:3000/humanidades1s">Subestacion humanidades1s</a></li>
                    <li><a href="http://localhost:3000/humanidades2s">Subestacion humanidades2s</a></li>
                    <li><a href="http://localhost:3000/humanidades3s">Subestacion humanidades3s</a></li>
                    <li><a href="http://localhost:3000/artes">Subestacion Artes</a></li>
                    <li><a href="http://localhost:3000/periodismos">Subestacion periodismos</a></li>
                    <li><a href="http://localhost:3000/cafetines">Subestacion cafetines</a></li>
                    <li><a href="http://localhost:3000/comedorues">Subestacion comedorues</a></li>
                  </ul>
                </li>

                <li><a href="#">Facultad de Ingenieria y Arquitectura</a>
                  <ul>
                    <li><a href="http://localhost:3000/auditoriummarmols">Subestacion auditoriummarmol</a></li>
                    <li><a href="http://localhost:3000/mecanicacomplejos">Subestacion mecanicacomplejos</a></li>                    
                  </ul>
                </li>

                <li><a href="http://localhost:3000/medicinas">Facultad de Medicina</a></li>

                <li><a href="#">Facultad de Odontologia</a>
                  <ul>
                    <li><a href="http://localhost:3000/odontologia1s">Subestacion odontologia1</a></li>
                    <li><a href="http://localhost:3000/odontologia2s">Subestacion odontologia2</a></li>
                    <li><a href="http://localhost:3000/odontologia3s">Subestacion odontologia3</a></li>
                    <li><a href="http://localhost:3000/odontologiaimprenta">Subestacion odontologiaimprenta</a></li>
                    </ul>
                </li>                        
              </ul>
            </li>

            <li><a href="contact.php">Contactanos</a></li>
          </ul>
        </div>
      </nav>
    </header>