<header>
      <div id="logo">
        <div id="logo_text">
          <!-- class="logo_colour", allows you to change the colour of the text -->
          <h1><a href="http://localhost:3000">Medidore$<span class="logo_colour">_Ues</span></a></h1>
          <h2>Servicio de monitoreo de consumo de energia.</h2>
        </div>
      </div>
      <nav>
        <div id="menu_container">
          <ul class="sf-menu" id="nav">
            <li><a href="http://localhost:3000">Inicio</a></li>
            <li><a>Subestaciones</a>           
            </li>

            <li><a href="contact.php">Contactanos</a></li>
          </ul>
        </div>
      </nav>
    </header>